{% extends 'base.html' %}

{% load static %}
{% load news %}
{% load courses %}
{% load i18n %}

{% block title %}<title>{{ training.title }}</title>{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/shining-button.css' %}">
{% endblock %}

{% block main %}

<section>
    <div class="w-100 pt-60 position-relative blurred-background">
        <div class="fixed-bg" style="background-image: url({% if training.has_image %}{{ training.image.url }}{% else %}{% static 'images/blog.jpg' %}{% endif %});"></div>
        <div class="container">
            <div class="page-title-wrap text-center w-100 d-inline-block">
                <div class="breadcrumbs-wrap w-100">
                    <ul class="breadcrumbs mb-0 list-unstyled d-inline-flex">
                        {{ page.breadcrumbs| safe }}
                    </ul><!-- Breadcrumbs -->
                </div>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="w-100 pt-50 pb-130">
        <div class="container">

            <div class="about-wrap5 w-100">
                <div class="row align-items-center">
                    <div class="col-md-12 col-sm-12 col-lg-12">

                        <div class="page-title-inner text-center mb-5">
                            <h2 class="mb-0 text-color14">{{ training.title }}</h2>
                        </div>
                        <script>
                            window.addEventListener("load", function () {
                                const header = document.querySelector(".page-title-inner").querySelector("h2");
                                let length = header.innerHTML.length;
                                if(length > 150) {
                                    header.style.fontSize = "2.4em";
                                } else if (length > 120) {
                                    header.style.fontSize = "2.7em";
                                } else if (length > 90) {
                                    header.style.fontSize = "3em";
                                } else if (length > 50) {
                                    header.style.fontSize = "3.2em";
                                }
                            }, false);
                        </script>

                        <div class="about-desc5 w-100 mt-40">

                            <div class="training-info">
{#                                {% if not training.passed %}#}
{#                                    <p class="property">Место проведения: <span class="value">{{ training.location }}</span></p>#}
{#                                {% endif %}#}
{#                                <p class="property">Дата проведения: <span class="value">{{ training.date_string }}</span></p>#}
                            </div>


                            {{ training.text | safe }}


                        </div>
                        <p class="course-price-text text-center mt-40 w-100">{% translate "Стоимость тренинга" %}: <span class="ml-2 course-price">{{ training.f_price }} {% translate "сум" %}</span></p>
                        <div class="sign-up-container d-flex justify-content-center">
                            <button class="sign-up-button sheen" onclick="location.href = '{% url 'purchase:offer-agreement' %}'">{% translate "Записаться" %}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<div class="mb-40"></div>

{% other_courses %}

{% recent_news %}

{% endblock %}