/logs/

*.sqlite3

/settings/migrations/*.py
/certificates/migrations/*.py
/news/migrations/*.py
/courses/migrations/*.py
/trainings/migrations/*.py
/main_page/migrations/*.py
/purchase/migrations/*.py
/payme_billing/migrations/*.py

/emails/

**/__pycache__/
