{% extends "admin/change_form.html" %}

{% block form_top %}
{% if help_text %}
    <div style="padding: 10px; margin-bottom: 20px;
            border-left: 3px solid {% if colors %}{{ colors.0 }}{% else %}#DC3545{% endif %};
            background-color: {% if colors %}{{ colors.1 }}{% else %}#FF7282{% endif %};
            color: {% if colors %}{{ colors.2 }}{% else %}#fff{% endif %};">
        <span>{{ help_text| safe }}</span>
    </div>
{% endif %}
{% endblock %}

{% block field_sets %}
    {{ form.as_django_admin }}
{% endblock %}

{% block after_field_sets %}
    {% if report %}
        <div style="padding: 20px; background-color: #F6F6F6; border-top: 3px solid #808080; color: #808080; margin-bottom: 20px;">
            <h2 style="color: #404040">Детальный отчёт об ошибках</h2>
            <div style="padding-left: 20px">
                {{ report|safe }}
            </div>
        </div>
    {% endif %}
{% endblock %}