{% extends 'base.html' %}

{% load static %}
{% load front_tags %}
{% load i18n %}

{% block title %}
    <title>{% translate 'Заполнение данных' %}</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/shining-button.css' %}">
{% endblock %}

{% block main %}

    <section>
        <div class="w-100 pt-60 position-relative">
            <div class="fixed-bg" style="background-image: url({% static 'images/library.jpg' %});"></div>
            <div class="container">
                <div class="page-title-wrap text-center w-100 d-inline-block">
                    <div class="page-title-inner d-inline-block">
                        <h2 class="mb-0 text-color7">{% translate 'Заполнение данных' %}</h2>
                    </div>
                </div><!-- Page Title Wrap -->
            </div>
        </div>
    </section>
    <section>
        <div class="w-100 pt-40 pb-100 position-relative">
            <div class="container">
                <div class="about-wrap5 form-wrap w-100">
                    <div class="row align-items-center form-tab-content">

                        <p class="warning-message text-center mt-3 mb-60 w-75 ml-auto mr-auto">
                            <b>{% translate 'Внимание!' %}</b> {% translate 'Вводите данные корректно. Ошибка при вводе данных может привести к ошибкам в последующих документах.' %}
                        </p>

                        <form class="form w-100 row justify-content-center" method="POST">
                            {% csrf_token %}
                            <div class="col-12 col-md-6 form-column">
                                <div class="form-group">
                                    {{ form.payment_type.label_tag }}
                                    {{ form.payment_type }}
                                </div>
                            </div>

                            <div class="col-12 payment-details text-center">
                                {% if record.get_entity_payer_or_none %}{% if record.special_price %}
                                    <div class="line p-3 pl-5 pr-5">
                                        <p class="m-0">{% translate 'Для участников АТБ применяется специальная цена.' %}</p>
                                    </div>{% else %}
                                    <div class="line p-3 pl-5 pr-5">
                                        <p class="m-0">{% translate 'Вы не являетесь участником АТБ, поэтому специальная цена не применяется.' %}</p>
                                        <p class="m-0">{% translate 'По вопросам вступления в АТБ и информации о скидках для участников АТБ - обращайтесь по телефону' %}
                                            <a class="label font-weight-normal text-underline" href="tel:+998991108598">+998 99 1108598</a>, {% translate 'или в telegram:' %}
                                            <a class="label font-weight-normal text-underline" href="https://t.mt/acbuz1">@acbuz1</a>.</p>
                                    </div>{% endif %}
                                {% endif %}
                                <p class="line">
                                    <span class="label">{% translate 'Ваш заказ' %}: </span>
                                    <span class="value">{{ record.service }}</span>
                                </p>
                                <p class="line">
                                    <span class="label">{% translate 'Плательщик' %}: </span>
                                    <span class="value">
                                        {% if record.get_entity_payer_or_none %}{% translate 'Юр. лицо' %}{% else %}
                                            {% translate 'Физ. лицо' %}{% endif %}: {{ record.payer.name }}
                                    </span>
                                </p>
                                <p class="line">
                                    <span class="label">{% translate 'Номер телефона' %}: </span>
                                    <span class="value">{{ record.payer.phone_number }}</span>
                                    {% if record.get_individual_payer_or_none %}
                                        <small style="margin-top: -8px" class="mb-4">({% translate 'будет использоваться при оплате через Payme' %})</small>
                                    {% endif %}
                                </p>
                                <p class="line">
                                    <span class="label">{% translate 'Кол-во наименований услуг' %}: </span>
                                    <span class="value">{{ record.amount }}</span>
                                </p>
                                {% if record.get_entity_payer_or_none %}<p class="line">
                                    <span class="label">{% translate 'Специальная цена' %}: </span>
                                    <span class="value"><span class="special-price">{% if record.special_price %}✓{% else %}❌{% endif %}</span></span>
                                </p>{% endif %}
                                <p class="line">
                                    <span class="label">{% translate 'Цена за единицу продукта' %}: </span>
                                    <span class="value"><span class="price-value">{{ record.f_price }}</span> {% if record.special_price %}
                                        <span class="special-price">{% translate '(специальная цена)' %}</span>{% endif %}</span>
                                </p>
                                <p class="line overall-price">
                                    <span class="label">{% translate 'Итого к оплате' %}: </span>
                                    <span class="value"><span class="price-value">{{ record.f_overall_price }}</span></span>
                                </p>
                            </div>

                            <div class="submit-button col-12 mt-2 mb-4 d-flex justify-content-end">
                                <button type="submit" class="sheen no-sheen">{% translate 'Подтвердить' %}</button>
                            </div>
                        </form>

                    </div>
                </div><!-- About Wrap 5 -->
            </div>
        </div>
    </section>

{% endblock %}