{% load i18n %}

{% csrf_token %}

<h3 class="text-center mt-5 mb-3">{% translate 'Плательщик' %}</h3>
{% for field in payer_form.visible_fields  %}
    <div class="form-group">
        {{ field.label_tag }}
        <span class="warn">{% for error in field.errors %}{{ error }}{% endfor %}</span>
        <div class="field">{{ field }}</div>
        <small>{{ field.help_text }}</small>
    </div>
{% endfor %}

<div class="submit-button d-flex align-items-center justify-content-end">
    {% if payer_is_valid %}<span class="text-success mr-4">Сохранено</span>{% endif %}
    <button type="submit" class="sheen no-sheen">{% translate 'Отправить' %}</button>
</div>