.text-underline {
    text-decoration: underline!important;
}


.blurred-background .fixed-bg{
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
}

.blurred-background .container .page-title-wrap .page-title-inner h2{
  text-shadow: 1px 1px 2px #000000;
}
.blurred-background .container .page-title-wrap .breadcrumbs-wrap .breadcrumbs {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.44);
}



.next-article .title, .prev-article .title {
  font-weight: bold;
  background-color: #fff;
  font-size: 18px;
  text-align: right;
}
@media screen and (max-width: 500px) {
  .next-article .title, .prev-article .title {
    font-size: 16px;
  }
}
.prev-article .title {
  text-align: left;
}
.next-article .icon::after {
  text-align: center;
  content: "\f182";
  font-family: "metaicon", serif;
    color: #40a6ff;
}
.prev-article .icon::before {
  text-align: center;
  content: "\f183";
  font-family: "metaicon", serif;
  color: #40a6ff;
}



header.style1 {
  padding: 10px 0;
  background-color: var(--color14);
}
header.style1 .languages {
    background-color: rgba(255,215,202, 0.4);
}
header.style1 .languages .language-item.active {
    background-color: rgba(255,215,202, 1);
}




@media (max-width: 1030px){
  .post-list-style1.style4 .post-img4 {
      flex: 0 0 47%;
      max-width: 47%;
      padding-right: 50px;
  }
  .post-list-style1.style4 .post-info4 {
      flex: 0 0 calc(100% - 47%);
      max-width: calc(100% - 47%);
  }
}
@media (max-width: 760px){
  .post-list-style1.style4 .post-img4 {
      padding-right: 20px;
  }
}
@media (max-width: 600px){
  .post-list-style1.style4 {
    justify-content: center;
  }
  .post-list-style1.style4 .post-img4 {
      flex: 0 0 100%;
      max-width: 80%;
      padding-right: 0;
  }
  .post-list-style1.style4 .post-info4 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}
@media (max-width: 460px) {
  .post-list-style1.style4 .post-img4 {
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 0 15px
    }
}




footer{
    margin-top: 40px;
}



.course-price-text {
    margin-top: 80px;
    font-size: 1.6em;
    font-weight: bold;
}
.course-price-text .course-price {
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--color7);
}
.sign-up-container {
    margin-top: 30px;
}
.sign-up-container .sign-up-button {
    color: #fff;
}


.owl-stage {
    padding: 0!important;
}
.owl-nav {
    margin: 14px 0 0 0;
    display: flex;
    justify-content: center;
}
.owl-nav span{
    font-size: 44px;
    margin: 5px;
    font-weight: bold;
}
.chunk-card {
    padding-right: 20px;
}
.chunk-card .background {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
    width: 420px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    overflow: hidden;
}
.chunk-card .background.course-background {
    border: 1px solid rgba(13,41,105, 0.7);
}
.chunk-card .background .pad {
    width: 100%;
    height: 240px;
    top: 140px;
    position: relative;
    background-color: rgba(218,77,32, 0.7);
    padding: 14px 20px 20px 20px;
    transition: all 0.4s ease-in-out 0s;
}
.chunk-card .background .pad.course-pad {
    background-color: rgba(13,41,105, 0.7);
}
.chunk-card .background .pad .date {
    color: #B4B4B4;
    font-size: 13px;
    text-shadow: 0 0 6px #000;
    opacity: 1;
    transition: all 0.4s ease-in-out 0s;
    position: absolute;
    top: -24px;
    left: 10px;
    margin: 0;
    font-weight: bold;
    padding-bottom: 10px;
}
.chunk-card .background:hover .pad .date {
    opacity: 0;
}
.chunk-card .background .pad .title {
    width: 90%;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}
.chunk-card .background .pad .description {
    color: #001252;
    font-size: 15px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    line-height: 1.4;
}
.chunk-card .background:hover .pad {
    top: 0;
    padding: 20px 20px 20px 20px;
}
.chunk-card .background:hover .pad .description {
    color: #E9E9E9;
    opacity: 1;
}
@media screen and (max-width: 460px){
    .chunk-card {
        padding-right: 0;
    }
    .chunk-card .background {
        width: 100%;
    }
    .owl-nav {
        margin: 14px 0 0 0;
        display: flex;
        justify-content: center;
    }
}




.download-pdf {
    color: #fff;
    background-color: var(--color14);
    padding: 8px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.download-pdf:hover{
    background-color: rgba(13,41,105, 0.8);
    color: #fff!important;
}






.responsive-menu ul li a.active,
.main-menu li a.active{
    color: var(--color7) !important;
}
.responsive-menu ul li a.active:hover,
.main-menu li a.active:hover{
    color: var(--color7) !important;
}




.contact-info-box {
    padding: 10px 12px;
    border-radius: 10px;
}
.contact-info-box-hover:hover {
    background-color: #FFD7CA;
}
.contact-info-box-hover:hover i {
    background-color: #1F5ABC;
    color: #fff;
}



html {
    scroll-behavior: smooth;
}



.training-info {
    margin-bottom: 30px;
}
.training-info .property {
    font-weight: bold;
    color: var(--color14);
    margin-bottom: 5px!important;
}
.training-info .property .value {
    color: var(--color7)
}

.main-slider-item {
    white-space: normal!important;
    width: 80vw;
}
.main-slider-item .title {
    font-size: 35px;
    padding-bottom: 60px;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
@media screen and (min-width: 1380px) {
    .main-slider-item {
        width: 45vw!important;
        padding-right: 10vw;
    }
    .main-slider-item .title {
        width: 45vw!important;
    }
}
@media screen and (max-width: 768px) {
    .main-slider-item .title {
        font-size: 25px;
    }
    .main-slider-item .text {
        font-size: 14px;
    }
}
@media screen and (max-width: 510px) {
    .main-slider-item .title {
        padding: 40px 0 0 0;
    }
    .main-slider-item .text {
        display: none;
    }
}




.about-desc .single-header {
    font-size: 2.6em;
}
.service-box-wrap2 .service-img2 {
    max-height: 300px;
}
@media screen and (min-width: 1030px) {
    .service-wrap2 > .row {
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .service-wrap2 > .row {
        align-items: center;
    }
}



.languages {
    background-color: rgba(0,0,0, 0.2);
    border: 1px solid rgba(0,0,0, 0.5);
    border-radius: 12px;
}
.languages .language-item.active {
    background-color: rgba(0,0,0, 0.5);
    border-radius: 10px;
}
.language-item {
    padding: 0 10px;
    display: block;
    width: 60px;
}
.language-item img {
    height: auto;
    width: 100%;
}

.language-list-small {
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.language-item-small .language-item {
    display: flex;
    align-items: center;
    width: 100%;
}
.language-item-small .language-item img {
    max-width: 40px;
    margin-left: 4px;
    margin-right: 10px;
}




.offer_agreement-main {
    min-height: 100vh;
}
.purchase-header h1 {
    font-family: serif;
    color: #000;
    font-weight: 600;
}
.agreement-buttons button {
    margin: 0 7px;
    color: #fff;
    font-size: 1.2em;
    padding: 14px 30px;
}
.agreement-buttons button:active {
    color: #fff;
}
.agreement-buttons button.disagree, .agreement-buttons button.disagree:active, .agreement-buttons button.disagree:focus {
    color: var(--color14);
    background-color: #FFF;
    box-shadow: inset 0 0 1px 1px var(--color14), 0 0 1px 1px var(--color14)!important;
}
.no-sheen.sheen:hover::after, button.no-sheen:focus::after {
    animation: none;
}


.form-wrap .warn {
    color: #CC3300;
}
.form-wrap .form-tab-content {
    padding-top: 40px;
    width: 100%;
    border-style: solid;
    border-color: #dee2e6;
    border-width: 0 1px 1px 1px;
}
.form-wrap .form-tab-content .form h2 {
    font-weight: bolder;
    font-size: 2.6em;
}

.form-wrap .form-tab-content .form .self_paying {
    margin-top: 30px;
}
.form-wrap .form-tab-content .form .self_paying label {
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin: 0 10px 0 0;
}
.form-wrap .form-tab-content .form .self_paying input {
    width: 26px;
    height: 26px;
}

.form-wrap .form-tab-content .form > .row {
    margin: 0;
}
.form-wrap .form-tab-content .form small {
    color: #AAAAAA;
    width: 100%;
    display: block;
    text-align: center;
    height: 0;
}
.form-wrap .form-tab-content .form label {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    padding-right: 20px;
}
.form-wrap .form-tab-content .form label span {
    font-weight: normal;
}
.form-wrap .form-tab-content .form input {
    width: calc(100% - 10px);
    margin: 0 5px 0 5px;
    border-bottom: 2px solid var(--color14);
    background-color: #fff;
}
.form-wrap .form-tab-content .form input[type="file"] {
    margin-top: 10px;
    margin-left: 20%;
    width: auto;
    color: #000;
    border: 0;
    background-color: transparent;
}
.form-wrap .form-tab-content .form input[type="checkbox"] {
    height: 24px;
    width: 24px;
}
.form-wrap .form-tab-content .form input[disabled] {
    background-color: #F8F8F8;
}
.form-wrap .form-tab-content .form input:focus {
    border-color: var(--color7);
}
.form-wrap .form-tab-content .form .form-group {
    min-height: 78px;
    padding: 8px 10px 0 10px;
    margin-bottom: 0;
}
.form-wrap .form-tab-content .form-column {
    padding-bottom: 10px;
}
.form-wrap .form-tab-content .form-column h3 {
    color: #000;
}
.form-wrap .form-tab-content .form-column.student {
    background-color: #F8F8F8;
}
.form-wrap .form-tab-content .form-column.payer {
    border-color: #F8F8F8;
    border-style: solid;
    border-width: 1px 0;
}
.form-wrap .form-tab-content .form-column.student .auto-fill-label {
    display: none;
    font-weight: normal;
    color: black;
    font-size: 0.8em;
}
.form-wrap .form-tab-content .form label.required::after {
    content: " *";
    color: red;
}
.form-wrap .form-tab-content .form .submit-button {
    margin-top: 40px;
    padding: 0 20px 40px 0;
}
.form-wrap .form-tab-content .form .submit-button button {
    padding: 12px 34px;
    font-size: 22px;
    text-transform: none;
    color: #fff;
}
.form-wrap .form-tab-content .form .submit-button button.disagree,
.form-wrap .form-tab-content .form .submit-button button.disagree:active,
.form-wrap .form-tab-content .form .submit-button button.disagree:focus {
    color: var(--color14);
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: inset 0 0 1px 1px var(--color14), 0 0 1px 1px var(--color14)!important;
}
.form-wrap .form-tab-content .form span.warn {
    font-size: 14px;
}
.form-wrap .form-tab-content .form .form-column div.field {
    display: flex;
    justify-content: space-between;
}
.form-wrap .form-tab-content .form .individual .form-column div.field .dropdown.bootstrap-select {
    width: 32% !important;
}
.form-wrap .form-tab-content .form .form-column div.field .dropdown.bootstrap-select button {
    border-color: var(--color14);
    min-width: 0;
}
.form-wrap .form-tab-content .form .form-column .dropdown-menu li {
    padding-top: 4px;
    padding-bottom: 4px;
}
.form-wrap .form-tab-content .form .form-column .dropdown-menu li a {
    white-space: normal;
}

.filled-record-inner {
    border: 1px solid #F8F8F8;
    border-bottom: 2px solid #314d8d;
}
.filled-record-inner .header{
    background-color: #314d8d;
    color: #fff;
    font-size: 18px;
}
.filled-record-inner .filled-record-fields .value-group {
    padding: 10px 10px;
}
.filled-record-inner .filled-record-fields .value-group:nth-child(odd) {
    background-color: #F8F8F8;
}
.filled-record-inner .filled-record-fields .value-group .fieldname {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    padding-right: 20px;
}
.filled-record-inner .filled-record-fields .value-group .value {
    width: calc(100% - 10px);
    margin: 0 5px 0 5px;
    line-height: 1.15;
}
.filled-record-inner .filled-record-fields .value-group .image-link {
    text-decoration: underline;
}
.filled-record-inner .filled-record-fields .value-group .image-link {
    text-decoration: underline;
}
.filled-record-inner .filled-record-fields .filled-record-actions {
    background-color: rgb(239, 239, 239);
}
.filled-record-inner .filled-record-fields .filled-record-actions button:hover {
    background-color: rgb(208,208,208);
}

input.hide-arrows::-webkit-outer-spin-button,
input.hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.hide-arrows[type=number] {
    -moz-appearance:textfield;
}

.payment-details .line .label {
    color: var(--color14);
    font-weight: bold;
    padding-right: 6px;
}
.payment-details .line .value {
    color: var(--color7);
    font-weight: bold;
    font-size: 20px;
}
.payment-details .line .value .special-price {
    color: var(--orange);
}
.payment-details .line .value .price-value {
    font-size: 24px;
}
.warning-message {
    border: 2px solid #CC3300;
    color: #CC3300;
    border-radius: 10px;
    padding: 10px;
}

.main_slider-section.owl-carousel.owl-theme.owl-loaded.owl-drag,
.main_slider-section .owl-stage-outer,
.main_slider-section .owl-stage,
.main_slider-section .owl-item,
.main_slider-section .item,
.main_slider-section .owl-item,
.main_slider-section .img-responsive{
    height: 100%;
    object-fit: cover;
}
.main_slider-section {
    margin-top: 95px;
}
.main_slider-section .main-slider .slide {
    width: 100%;
    min-height: 70vh;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.main_slider-section .main-slider .slide .content {
    text-align: center;
    min-height: 70vh;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF;
}
.main-slider .fixed-bg {
    width: 65%;
    position: inherit;
}
.main_slider-section .main-slider .slide .content .header {
    font-size: 2.5em;
    color: var(--color12);
    align-items: center;
}
.main_slider-section .main-slider .slide .content .text {
    font-size: 1.2rem;
    color: var(--color12);
    padding: 0 8%;
}
.main_slider-section .main-slider .slide .content .buttons .fill-btn2 {
    color: #fff;
    line-height: 1;
}
.main_slider-section .main-slider .slide .fixed-bg {
    width: 65%;
}
.main_slider-section .main-slider .slide .content .buttons .fill-btn2:hover {
    color: var(--color7);
}
.main_slider-section .main-slider .slide .content .buttons .bordered-btn2 {
    color: var(--color7);
    line-height: 1;
}
.main_slider-section .main-slider .slide .content .buttons .bordered-btn2:hover {
    color: #fff;
}
.service-wrap {
    padding-top: 115px;
}
@media screen and (max-width: 1460px) {
    .main_slider-section .main-slider .slide .content .header {
        font-size: 1.8em;
    }
}
@media screen and (max-width: 1030px){
    .main_slider-section {
        margin-top: 0;
    }
    /*.main_slider-section .main-slider .slide .content {*/
    /*    padding: 80px 6% 40px 8%;*/
    /*}*/
    .main_slider-section .main-slider .slide .content {
        display: none;
    }
    .main_slider-section .main-slider .slide .fixed-bg {
        width: 100%;
    }
    .main_slider-section .main-slider .slide .content .header {
        font-size: 1.5em;
    }
    .main_slider-section .main-slider .slide .content .text {
        font-size: 1rem;
    }
}
@media screen and (max-width: 768px){
    .main_slider-section .main-slider .slide .content .header {
        font-size: 1.1em;
        line-height: 1.1;
    }
    .main_slider-section .main-slider .slide .content .text {
        line-height: 1.2;
    }
}
@media screen and (max-width: 410px){
    .main_slider-section .main-slider .slide .content .buttons a {
        font-size: 12px;
        margin-top: 4px;
    }
}
.main_slider-section .owl-prev {
    width: 30px;
    left: 30px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}

.main_slider-section .owl-next {
    width: 30px;
    right: 30px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-right: -20px;
    display: block !important;
    border:0px solid black;
}
.main_slider-section .owl-prev i, .owl-next i {transform : scale(3,6); color: #ccc;}
.main_slider-section .owl-dots {
    margin-top: -40px;
}