p.payment-link {
    font-size: 20px;
}
h2.header {
    text-align: center;
    margin-top: 48px;
}
.block {
    width: 100%;
}
p.header {
    margin: 0;
    font-weight: bold;
    text-align: center;
    background-color: #314d8d;
    color: #fff;
    font-size: 18px;
    width: 100%;
    padding: 20px 0;
}
div.records {
    overflow: hidden;
}
div.records > div.record.payer {
    min-width: 340px;
    max-width: 480px;
}
div.records > div.record {
    margin: 24px 8px 0 8px;
    max-width: 480px;
    float: left;
    border: 1px solid #F8F8F8;
    border-bottom: 2px solid #314d8d;
}
div.records > div.record > div.fields {
    padding: 0 12px;
}

.value-group {
    padding: 10px 10px;
    border-bottom: #DDDDDD solid 1px;
}
.value-group .fieldname {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    padding-right: 20px;
}
.value-group .value {
    width: 90%;
    margin: 0 5px 0 5px;
    line-height: 1.15;
}