{% extends 'base.html' %}

{% load static %}
{% load front_tags %}
{% load i18n %}

{% block title %}
    <title>{% translate 'Оплата' %}</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/shining-button.css' %}">
{% endblock %}

{% block main %}

<section>
    <div class="w-100 pt-60 position-relative">
        <div class="fixed-bg" style="background-image: url({% static 'images/library.jpg' %});"></div>
        <div class="container">
            <div class="page-title-wrap text-center w-100 d-inline-block">
                <div class="page-title-inner d-inline-block">
                    <h2 class="mb-0 text-color7">{% translate 'Оплата Payme' %}</h2>
                </div>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-40 pb-100 position-relative">
        <div class="container">
            <div class="about-wrap5 form-wrap w-100 mt-5">

                <div class="w-50 ml-auto mr-auto">
                    <div class="row justify-content-center align-items-stretch">
                        <form class="d-flex align-items-center p-4" id="form-payme-button" method="POST" action="{{ url }}">
                            {% csrf_token %}
                            {{ button_form.render }}
                        </form>
                    </div>

                    <div class="row justify-content-center mt-1 text-center">
                        <p class="font-weight-bold"><a href="{{ payment_link }}">{% translate 'Оплатите, перейдя по ссылке' %}</a></p>
                    </div>

                </div>

                <p class="warn text-center mt-4 mb-0">{% translate 'Данные покупки были отправлены на указанную почту плательщика' %}</p>
                <p class="warn text-center">{% translate 'Дупликат ссылки на оплату так-же был отправлен на почту плательщика' %}</p>
            </div><!-- About Wrap 5 -->
        </div>
    </div>
</section>

{% endblock %}

{% block script %}
    <script src="https://cdn.paycom.uz/integration/js/checkout.min.js"></script>

    <script>$(document).ready(function () {
        Paycom.Button('#form-payme-button', '#button-container');
        Paycom.QR('#form-payme-qr', '#qr-container');
    })</script>
{% endblock %}