<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/mail.css' %}">
</head>
<body>

    <h2 class="header">{% translate "Плательщик" %}</h2>

    <div class="filled-records row-center">
        <div class="filled-record-inner col">
            <p class="header">{% translate 'Плательщик' %}</p>

            <div class="filled-record-fields">
                {% for field, val in payer %}
                    <div class="value-group">
                        <p class="fieldname">{{ field }}</p>
                        <div class="value">{% if val == "None" %}-{% else %}{{ val }}{% endif %}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="filled-students" class="filled-records">
        {% include 'purchase/chunks/student-display.html' %}
    </div>
</body>
</html>