{% load verbose_choice %}
<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/mail.css' %}">
</head>
<body>

    <p class="payment-link"><b>{% translate 'Ссылка на оплату' %}</b>: <i><a href="{{ payment_link }}">{{ payment_link }}</a></i></p>

    <div class="block">
        <h2 class="header">{% translate "Плательщик" %}</h2>

        <div class="records">
            <div class="record payer">

                <p class="header">{% translate 'Плательщик' %}</p>

                <div class="fields">
                    {% for field, val in payer %}
                        <div class="value-group">
                            <p class="fieldname">{{ field }}</p>
                            <div class="value">{% if val == "None" %}-{% else %}{{ val }}{% endif %}</div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


    <div class="block">
        <h2 class="header">{% translate "Список студентов" %} ({{ students_list| length }})</h2>

        <div class="records">

            {% for student in students_list %}<div class="record">

                <p class="header text-center font-weight-bold p-3 m-0">{{ student.student_full_name.value }}</p>

                <div class="fields">
                    <div class="value-group">
                        <p class="fieldname">{{ student.student_full_name.label }}</p>
                        <div class="value">{{ student.student_full_name.value }}</div>
                    </div>

                    <div class="value-group">
                        <p class="fieldname">{{ student.student_inn.label }}</p>
                        <div class="value">{{ student.student_inn.value }}</div>
                    </div>

                    <div class="value-group">
                        <p class="fieldname">{{ student.student_passport_n.label }}</p>
                        <div class="value">{{ student.student_passport_n.value }}</div>
                    </div>

                    <div class="value-group">
                        <p class="fieldname">{{ student.student_passport_received_date.label }}</p>
                        <div class="value">{{ student.student_passport_received_date.value }}</div>
                    </div>

                    <div class="value-group">
                        <p class="fieldname">{{ student.student_passport_given_by.label }}</p>
                        <div class="value">{{ student.student_passport_given_by.value }}</div>
                    </div>

                    <div class="value-group">
                        <p class="fieldname">{{ student.student_phone_number.label }}</p>
                        <div class="value">{{ student.student_phone_number.value }}</div>
                    </div>

                    <div class="value-group">
                        <p class="fieldname">{{ student.student_email.label }}</p>
                        <div class="value">{{ student.student_email.value }}</div>
                    </div>

                    <div class="value-group">
                        <p class="fieldname">{{ student.student_telegram_contact.label }}</p>
                        <div class="value">{{ student.student_telegram_contact.value }}</div>
                    </div>

                    <div class="value-group">
                        <p class="fieldname">{{ student.study_type.label }}</p>
                        <div class="value">{% verbose_education student.study_type.value %}</div>
                    </div>
                </div>

            </div>{% endfor %}

        </div>
    </div>
</body>
</html>