{% extends 'base.html' %}

{% load static %}

{% block main %}

<section>
    <div class="w-100 pt-60 position-relative">
        <div class="fixed-bg" style="background-image: url({% static 'images/blog.jpg' %});"></div>
        <div class="container">
            <div class="page-title-wrap text-center w-100 d-inline-block">
                <div class="page-title-inner d-inline-block">
                    <h2 class="mb-0 text-color7">{{ page.title }}</h2>
                </div>
                <div class="breadcrumbs-wrap w-100">
                    <ul class="breadcrumbs mb-0 list-unstyled d-inline-flex">
                        {{ page.breadcrumbs| safe }}
                    </ul><!-- Breadcrumbs -->
                </div>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="w-100 pt-50 pb-130">
        <div class="container">
            <div class="blog-wrap w-100">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-9">
                        {% for article in news %}
                            {% include 'news/article_preview.html' %}
                        {% endfor %}
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="rightside">
                            <div class="theiaStickySidebar">
                                <aside class="w-100 sidebar-wrap d-inline-block mt-25">
                                    <div class="widget style2 mt-45 w-100">
                                        <form class="w-100 position-relative overflow-hidden brd-rd15">
                                            <input class="w-100" type="text" placeholder="Поиск">
                                            <button type="submit"><i class="fas fa-search"></i></button>
                                        </form>
                                    </div>

                                    {% load courses %}
                                    {% load trainings %}

                                    {% courses_sidebar %}
                                    {% trainings_sidebar %}

                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Blog Wrap -->
        </div>
    </div>
</section>

{% endblock %}